body{
font-family:Verdana;
font-size:13px
color:#333;
background: #f5f7ff
}

#hrefs a:visited {
    color: blue;
}

#hrefs a:active{
color:red;
}

#hrefs a:hover {
    color: red;
}

table {
  width: 50%;
border-collapse: collapse

}

th, td {

 padding: 4px;
  text-align: center;
}

