/*.form-container {
width: 100%;
height:10%;
background-color: #C0C0C0;
text-align:center;
}

input[type="text"], .ddl-select, .multiple-select {
display: inline;
}

.multiple-select select{
border-radius:4px;
width:15%;
height:80px;
font-size:15px;
margin-top: 5px;
border-radius:4px;
padding-left:10px;
}

input[type="text"]{
border-radius:4px;
width:40%;
height:25px;
font-size:20px;
margin-bottom: 25px;
border-radius:4px;
padding-left:10px;
}

.ddl-select select{
border-radius:4px;
width:15%;
height:25px;
font-size:15px;
margin-bottom: 25px;
border-radius:4px;
padding-left:10px;
}

.submit{
position: center;
width:15%;
height:25px;
}

