<input type="hidden" name="id" value="{{#id}}{{id}}{{/id}}">
<div class="form-group mb-1 ">
<input class="form-control" required type="text" name="username" placeholder="username"
       value="{{#username}}{{username}}{{/username}}">
</div>
<div class="form-group mb-1 ">
<input class="form-control" required type="text" name="password" placeholder="password"
       value="{{#password}}{{password}}{{/password}}">
</div>