<html>
<head>

</head>
<body>
{{> navbar}}

<div id="inner" class="container">
    <div class="container">
        <div class="table-name" align="center"><h2>{{message "system.insufficientRights"}}</h2></div>
    </div>
</div>
{{> footer}}
</body>
</html>