<html>
<body>
{{> index}}
<div>
    <form method="post" action="/addGroup">
        {{> addGroupForm}}
        <button type="submit">add group</button>
    </form>
</div>
<div>
    {{#anygroup}}
        <form method="post" action="/editGroup/{{#id}}{{id}}{{/id}}/path">
            {{> addGroupForm}}
            <button type="submit">upd group</button>
        </form>
    {{/anygroup}}
</div>
<div>Список групп</div>
<div>
    <table>
        <tr>
            <th>id группы</th>
            <th>номер группы</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#groups}}
            <tr>
                <td><a href="/members/{{id}}">{{id}}</a></td>
                <td>{{groupNumber}}</td>
                <td><a href="/deleteGroup/{{id}}">delete</a></td>
                <td><a href="/editGroup/{{id}}">edit</a></td>
            </tr>
        {{/groups}}
    </table>

</div>
</body>
</html>
