<html>
<body>
<a href="/">главная | </a>
<a href="/students"> студенты | </a>
<a href="/disciplines"> дисциплины | </a>
<a href="/marks"> оценки | </a>
<div>
    <form method="post" action="/addGroup">
        <input type="text" name="groupNumber" placeholder="group number">
        <button type="submit">add group</button>
    </form>
</div>

<div>
    {{#anygroup}}
        <form method="post" action="/editGroup/{{#id}}{{id}}{{/id}}">
            <input name="id" value="{{#id}}{{id}}{{/id}}" hidden>
            <input type="text" name="groupNumber" placeholder="to edit"
                   value="{{#groupNumber}}{{groupNumber}}{{/groupNumber}}">
            <button type="submit">upd group</button>
        </form>
    {{/anygroup}}
</div>
<div>Список групп</div>
<div>
    <table>
        <tr>
            <th>id группы</th>
            <th>номер группы</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#groups}}
            <tr>
                <td><a href="/members/{{id}}">{{id}}</a></td>
                <td>{{groupNumber}}</td>
                <td><a href="/deleteGroup/{{id}}">delete</a></td>
                <td><a href="/editGroup/{{id}}">edit</a></td>
            </tr>
        {{/groups}}
    </table>

</div>
</body>
</html>