<html>
<body>
<div>
    <a href="/students">students</a>
</div>
<div>
    <a href="/groups">groups</a>
</div>
<div>
    <a href="/disciplines">disciplines</a>
</div>
<div>
    <a href="/marks">makrs</a>
</div>
</body>
</html>