<html>
<head>
    <link rel="stylesheet" href="/mainIndex.css"/>
    <link rel="stylesheet" href="/background.css"/>
    <link rel="stylesheet" href="/tables.css"/>
    <link rel="stylesheet" href="/input.css"/>
</head>
<body>

<div class="hrefs-outer" align="center">
    <div class="hrefs-inner">
        <a href="/students">Студенты</a>
        <a href="/groups">Группы</a>
        <a href="/disciplines">Дисциплины</a>
        <a href="/marks">Оценки</a>
    </div>
</div>
</body>
</html>