<html>
<head>
    <link rel="stylesheet" href="/index.css"/>
</head>
<body>

<form>
    <div id="hrefs">
        <a href="/students">Студенты |</a>
        <a href="/groups">Группы |</a>
        <a href="/disciplines">Дисциплины |</a>
        <a href="/marks">Оценки</a>
    </div>
</form>
<p></p>
<p></p>
<p></p>
</body>
</html>