<html>
<head>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>

<div id="hrefs">
    <a href="/students">students |</a>
    <a href="/groups">groups |</a>
    <a href="/disciplines">disciplines |</a>
    <a href="/marks">makrs</a>
</div>
</body>
</html>