<html>
<head>

</head>
<body>
<form action="login" method="post">
    user: <input type="text" name="username" value="">
    password: <input type="password" name="password" value="">
    <button type="submit">logIn</button>
</form>

<form action="logout" method="post">
    <button type="submit">logOut</button>
</form>
</body>
</html>