<html>
<body>
{{> index}}
<div>
    {{#mark}}
        <form method="post" action="/editMark/{{#id}}{{id}}{{/id}}/patch">
            {{> addMarkForm}}
            <button type="submit">upd mark</button>
        </form>
    {{/mark}}
    {{^mark}}
        <form method="post" action="/addMarks">
            {{> addMarkForm}}
            <button type="submit">add mark</button>
        </form>
    {{/mark}}
</div>
<div>табель оценок</div>
<div>
    <table>
        <tr>
            <th>student id</th>
            <th>discipline</th>
            <th>mark</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#marks}}
            <tr>
                <td>{{#studentId.id}}{{.}}{{/studentId.id}}</td>
                <td>{{#diciplineId.disciplineName}}{{.}}{{/diciplineId.disciplineName}}</td>
                <td>{{#mark}}{{.}}{{/mark}}</td>
                <td><a href="/deleteMark/{{id}}">delete</a></td>
                <td><a href="/editMark/{{id}}">edit</a></td>
            </tr>

        {{/marks}}
    </table>

</div>

</body>
</html>

