<html>

<body>
<div>
    <form method="post" name="/add">
        {{#student}}
            <input type="text" name="fname" placeholder="first name" value="{{firstName}}">
            <input type="text" name="lname" placeholder="last name" value="{{lastName}}">
            <input type="hidden" name="studentId" value="{{id}}">
            <!--<input type="text" name="groupNumber" placeholder="group number">-->
            <select name="group">
                {{#groups}}
                    <option value="{{id}}">{{groupNumber}}</option>
                {{/groups}}
            </select>
        {{/student}}
        {{#student}}
            <button type="submit">update student</button>
        {{/student}}
        {{^student}}
            <button type="submit">add student</button>
        {{/student}}

    </form>
</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="find by first name">
        <button type="submit">find</button>
    </form>

    <div>
        <form method="post" action="filterLastName">
            <input type="text" name="filterLastName" placeholder="find by last name">
            <button type="submit">find</button>
        </form>
    </div>
</div>

<div>Список</div>


<div>
    <table>
        <tr>
            <th>id</th>
            <th>fname</th>
            <th>lname</th>
            <th>group Number</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#students}}
            <tr>
                <td>{{id}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{group}}</td>
                <td><a href="/delete/{{id}}">delete</a></td>
                <td><a href="/edit/{{id}}">edit</a></td>
            </tr>
        {{/students}}
    </table>

</div>

</body>
</html>
