<html>
<body>
{{> index}}
<div>
    <form method="post" action="studentAdd">
        {{> addStudentForm}}
        <button type="submit">add student</button>
    </form>
</div>
<div>
    {{#student}}
        <form method="post" action="/editStudent/{{#id}}{{id}}{{/id}}/path">
            {{> addStudentForm}}
            <button type="submit">upd student</button>
        </form>
    {{/student}}
</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="find by first name">
        <button type="submit">find</button>
    </form>

    <div>
        <form method="post" action="filterLastName">
            <input type="text" name="filterLastName" placeholder="find by last name">
            <button type="submit">find</button>
        </form>
    </div>
</div>

<div>Список</div>


<div>
    <table>
        <tr>
            <th>id</th>
            <th>fname</th>
            <th>lname</th>
            <th>group Number</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#students}}
            <tr>
                <td>{{id}}</td>
                <td>{{#firstName}}{{.}}{{/firstName}}</td>
                <td>{{#lastName}}{{.}}{{/lastName}}</td>
                <td>{{#group.groupNumber}}{{.}}{{/group.groupNumber}}</td>
                <td><a href="/delete/{{id}}">delete</a></td>
                <td><a href="/editStudent/{{id}}">edit</a></td>
            </tr>
        {{/students}}
    </table>

</div>

</body>
</html>
